@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
}

/* container que cobre a página inteira */
.container {
    background-color:#FFEEE8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/* Barra de menu */
.navbar {
    width: 100%;
    height: 400%;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    margin: 25px 20px;
}

nav {
    margin-right: 20px;
    width: 100%;
    text-align: right;
}

.list {
    color: #2E6162;
    font-size: 18px;
    list-style: none;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    display: inline-block;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}


.list::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #44582475;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
.list:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.list:hover{
    color: #44582475;
}

/* div da seção inteira */
.box-section {
    /* top, right, bottom, left */
    padding: 0 10px 1px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 98px 0;
}

/* div do texto */
.box-text {
    width: 50%;
    padding-left: 100px;
}

/* Parágrafo */
h3 {
    line-height: 40px;
    width: 160%;
    font-size: 22px;
    color: #2E6162;
    font-weight: 20;
    margin: 0px 0;
}
/* linha separadora branca */
hr {
    margin: 30px 100px;
    width: 170px;
    border: 0;
    border-top: 8px solid white;
    border-radius: 10px;
}
/* div da imagem */
.box-image {
    display: flex;
    align-items: center;
}

/* imagem esquerda */
.data {
    padding-right: 200px;
    width:100%;
}

/* Animação palavras */
.wrapper{
    margin-left: 145px;
    display: block;
    width: 70%;
    overflow: hidden;
}
.wrapper .static-txt{
    margin-left: 100px;
    margin-top: 12px;
    color: #2E6162;;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 100px;
    height: 90px;
    line-height:90px ;
    overflow: hidden;
}
.dynamic-txts li{
    color: #44582475;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;

}
@keyframes slide{
    100%{
        top:-360px;
    }
 }
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 200%;
    width: 100%;
    background:#FFEEE8 ;
    animation: typing 1.5s steps(66) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}